.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  display: flex;
  margin: 2rem auto;
  max-width: 50rem;
}

.Calculator {
  font-size: 20px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.Calculator-display {
  width: 100%;
  padding: 2rem;
  font-size: 3rem;
  text-align: right;
  color: #fff;
  background-color: #393939;
  border: 0;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Calculator-pad {
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
}

.Calculator-pad.Calculator-digits {
  width: 75%;
}

.Calculator-pad.Calculator-operators {
  width: 25%;
}

.Calculator-pad > button {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: background-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
  background-color: #2e2e2e;
  color: #fff;
  width: calc(100% / 3);
}

.Calculator-pad button:hover {
  background-color: #212121;
  cursor: pointer;
}

.Calculator button:focus {
  outline: 0;
}

.Calculator-pad.Calculator-digits > button {
  width: calc(100% / 3);
}

.Calculator-pad.Calculator-operators > button {
  width: 100%;
}

.Calculations {
  width: 45%;
  background-color: #393939;
}

.Calculations-item {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.Calculations-date {
  color: #999;
  font-size: 0.7rem;
}

.Calculations-calculation {
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

@media (max-width: 500px) {
  .App {
    flex-direction: column;
  }

  .Calculator {
    width: 100%;
  }

  .Calculations {
    width: 100%;
    height: 300px;
    margin: 0;
  }
}
